body{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: RokkitR;
  src: url("../font/Rokkitt-Regular.ttf");
}

#box1{
  height: 100vh;
  width: 100%;
  background-image: url(../../img/box1.png);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}
#box6{
  height: 80vh;
  width: 100%;
  background-image: url(../../img/copid.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#box7{
  height: 80vh;
  width: 100%;
  background-image: url(../../img/News_coronavirus_banner_1920x300.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#box7 h2{
  padding-bottom: 10px;
  text-align: center;
  margin-left: 30px;
  font-family: RokkitR;
  font-size: 32px;
  font-style: bold;
  color: white;
  padding-top: 20vh;

}

#box7 p{
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  font-family: RokkitR;
  font-size: 20px;
  color: white;
}

#box2{
  height: 100vh;
  width: 100%;
  background-color: white;
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

#box3{
  height: 100vh;
  width: 100%;
  background-color: slategray;
  background-size: cover;
  display: table;
  background-attachment: fixed;
}
#box4{
  height: 100vh;
  width: 100%;
  background-image: url(../../img/BG.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

#box5{
  height: 100vh;
  width: 100%;
  background-size: cover;
  display: table;
  background-attachment: fixed;
}
#box1 h1{
  font-family: Arial;
  font-size: 78px;
  letter-spacing: 10px;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    object-position: top;
    animation: text 3s 1;
}
#box1 h2{
  font-family: Arial;
  font-size: 38px;
  letter-spacing: 10px;
  position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    object-position: top;
    animation: text 3s 1;
}

#box2 img{
  width: 30%;
  display: flex;
  justify-content: space-between;
 
  margin: auto;
  padding: 45px 0px;

}

#box5 img{
  width: 30%;
  display: flex;
  justify-content: space-between;
 
  margin: auto;
  padding: 45px 0px;
}

#box5 p{
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  font-family: RokkitR;
  font-size: 20px;
}

#box5 h2{
  padding-bottom: 10px;
  text-align: center;
  font-family: RokkitR;
  font-size: 32px;
  font-style: bold;
}

#box4 h2{
  padding-bottom: 10px;
  text-align: left;
  margin-left: 5%;
  font-family: RokkitR;
  font-size: 32px;
  font-style: bold;
  color: rgb(192, 185, 185);
}

#box4 p{
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
  font-family: RokkitR;
  font-size: 20px;
  color: rgb(192, 185, 185);
}


#box4 video{
  width: 35%;
  
  display: flex;



  padding: 50px 0px;
}

#box2 h2{
padding-bottom: 10px;
  text-align: center;
  font-family: RokkitR;
  font-size: 32px;
  font-style: bold;
 
}
#box2 p{
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  font-family: RokkitR;
  font-size: 20px;
 
}

#box3{
  background-image: url(../../img/BG.jpg);
  background-attachment: fixed;
}

.last-p{
  padding-bottom: 50px;
}



.d1{
  margin-top: 100px;
  margin-left: 300px;
}
.d2{
  margin-left: -150px;
  margin-top: -700px;
}
.d3{
  margin-top: -650px;
}
.d4{
  margin-top: -1050px;
}

@keyframes text{
  0%{
    color: black;
    margin-bottom: -40%;
  }
  30%{
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85%{
    letter-spacing: 9px;
    margin-bottom: -40px;
  }
}